body {
  background:rgb(207, 255, 209);
  font-family: "Trebuchet MS", Tahoma, Verdana, Helvetica, Arial;
  font-size: 12px;
}
a img, button img { border: none; vertical-align:text-top; }
a { text-decoration:none; color: #235f26; }
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
  margin-bottom:20px;
}
h1 { font-size:2em; }
h2 { font-size:1.8em; }
h3 { font-size:1.5em; }
h4 { font-size:1.3em; }
h5 { font-size:1.15em; }
h6 { font-size:1.1em; }
p { margin-bottom:10px; }
#flash_notice, #flash_error, #flash_success {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}
#flash_success {
  background-color: #92FF7F;
  border: solid 1px #427F37;
}
#banner {
  background:rgb(35, 95, 38);
  padding:0 20px;
  overflow:hidden;
}
#user_nav {
  background:rgb(207, 255, 209);
  float:right;
  margin-right:-20px;
  padding:7px 20px 10px;
  -moz-border-radius:0 0 0 15px;
  -webkit-border-radius:0 0 0 15px;
}
#user_logo img {
  vertical-align:middle;
}
#user_logo span {
  color:rgb(207, 255, 209);
  display:inline-block;
  font-size:20px;
  font-weight:bold;
  margin:10px 10px 20px;
  padding:10px 0;
}
#tabs {
  margin:10px 10px 10px 0;
}
#tabs li {
  margin:-10px 3px 0 0;
  float:left;
}
#tabs li a {
  background:rgb(116, 207, 120);
  color:rgb(35, 95, 38);
  display:block;
  font-size:1.06em;
  font-weight:bold;
  padding:8px 14px;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(255,255,255,.9);
}
#tabs li a.current, #tabs li a:hover {
  background:#CFFFD1 none repeat scroll 0 0;
  border-top:2px solid orange;
  color:#173F19;
  margin-top:-2px;
}
#tabs li div {
  background:rgb(116, 207, 120);
  height:1px;
  -moz-box-shadow:0 -1px 6px rgba(0, 0, 0, .9);
  -webkit-box-shadow:0 -1px 6px rgba(0, 0, 0, .9);
}
#tabs li a.current + div, #tabs li a:hover + div {
  background:rgb(207, 255, 209);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
#content {
  padding:20px;
}
#sidebar {
  float:left;
  margin:0 20px 20px 0;
  width:240px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}
#sidemenu li { position:relative; }
#sidemenu li span {
  color:rgb(111, 111, 111);
  display:block;
  font-size:1.05em;
  font-weight:bold;
  margin:0 0 2px;
  padding:6px;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(255,255,255,.9);
}
#sidemenu li a {
  color:rgb(35, 95, 38);
  color:rgba(35, 95, 38, 1);
  display:block;
  font-size:1.06em;
  font-weight:bold;
  margin:0 0 2px;
  padding:6px 6px 7px;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(255,255,255,.9);
}
#sidemenu li a.current {
  background:rgb(35,95,38); /*url(/images/gradient.png) repeat-x scroll 0 -120px;*/
  color:#fff;
  margin-right:-20px;
  text-shadow:0 -1px rgba(0,0,0,1);
}
#sidemenu li a.current + div, #sidemenu li a:hover + div {
  border-width:13px 0 13px 7px;
  border-style:solid;
  position:absolute;
  top:0;
  right:-27px;
  height:0;
  width:0;
}
#sidemenu li a.current + div, #sidemenu li a.current:hover + div {
  border-color:transparent transparent transparent #235f26;
}
#sidemenu li a:hover + div {
  border-color:transparent transparent transparent #9bfb9d;
}
#sidemenu li a:hover {
  background:#9bfb9d;
  color:rgb(0, 0, 0);
  margin-right:-20px;
}
#sidemenu li a.current:hover {
  background:rgb(35,95,38); /*url(/images/gradient.png) repeat-x scroll 0 -120px;*/
  color:#fff;
}
#sidemenu ul {
  display:none;
  padding:0 0 0 20px;
}
#main {
  background:rgb(255,255,255);
  background:rgba(255,255,255,.8);
  margin-left:260px;
  min-height:360px;
  padding:20px;
  -moz-box-shadow:2px 2px 6px rgba(0, 0, 0, .4);
  -webkit-box-shadow:2px 2px 6px rgba(0, 0, 0, .4);
}
#breadcrumb {
  background: #c8c8c8;
  margin: -20px -20px 20px;
  padding: 10px 20px;
}
#breadcrumb a {
  color:#235f26;
  text-decoration:none;
  padding:0 2px;
}
#breadcrumb a:hover {
  background:#173F19;
  color:#fff;
}
#footer {
  color:#8C8C8C;
  font-size:0.9em;
  line-height:2em;
  margin:20px 0 0 260px;
}
#footer p { margin-bottom:0; }
#footer.wide {
  margin:30px 0 0;
}
#footer a {
  color: #8c8c8c;
  text-decoration: none;
}
#footer a:hover { color:#235f26; }
a.main_link {
  background:#1F1F1F url(/images/gradient.png) repeat-x scroll 0 -4px;
  border:1px solid lightgray;
  display:inline-block;
  font-size:1.08em;
  font-weight:bold;
  padding:4px 10px 4px 8px;
  text-shadow:0 1px #FFFFFF;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  -moz-box-shadow:0 0 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow:0 0 2px rgba(0, 0, 0, .3);
}
a.main_link:hover {
  background:#7f7f7f url(/images/gradient.png) repeat-x scroll 0 -4px;
  color:rgb(23, 63, 25);
}
a.main_link:active {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
a.main_link + ul#sidemenu {
  margin-top:20px;
}
table.list {
  border-collapse:collapse;
  border-bottom:solid 1px #5fbf63;
  line-height:1.5em;
  margin-bottom:20px;
  width:100%;
}
table.list tr th {
  background:#5FBF63;
  color:#fff;
  text-align:center;
  padding:6px;
}
table.list tr td {
  background:rgba(95,191,99,.1);
  padding:4px;
}
table.list tr:nth-child(2n+1) {
  background:rgba(95,191,99,.2);
}
table.report tr td {
  background:rgba(250,250,250,1);
}
table.report tr:nth-child(2n+1) {
  background:rgba(242,242,242,1);
}
table.list tr:hover td, table.list tr.odd:hover td, table.list tr.even:hover td {
  background:rgba(95,191,99,.4);
}
table.list tr td.lvl_1 { padding-left:20px; } 
table.list tr td.lvl_2 { padding-left:40px; } 
table.list tr td.lvl_3 { padding-left:60px; } 
table.list tr td.lvl_4 { padding-left:80px; } 
table.list tr td.lvl_5 { padding-left:100px; } 
table.list tr td.lvl_6 { padding-left:120px; } 
td.subcategories_count {
  width:44px;
}
td.root_category span {
  background:#ff0000 url(/images/gradient.png) repeat-x scroll 0 -110px !important;
}
td.subcategories_count span {
  background:#000000 url(/images/gradient.png) repeat-x scroll 0 -110px;
  color:#fff;
  display:inline-block;
  font-weight:bold;
  padding:2px;
  text-align:center;
  text-shadow:0 -1px rgba(0, 0, 0, .9);
  width:40px;
}
.actions { text-align:right !important; }
.boxy-wrapper {
  border-bottom: none;
  width:700px;
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .8);
  -webkit-box-shadow:0 0 20px rgba(0, 0, 0, .8);
}
#dialog_form { margin:15px; }
#main > div#dialog_form { margin:0; }
.buttons p { margin:10px 0 !important; }
.buttons p img { vertical-align:middle; }
.buttons p img + span { color:#235f26; font-style:italic; }
#nested_attributes li label { float:none; display:inline; }
form.formtastic fieldset#nested_attributes {
  border:1px solid lightgrey;
  margin-bottom:20px;
  margin-left:25%;
  padding:10px;
}
form.formtastic fieldset#units legend {
  font-size:1.1em;
  font-weight:bold;
}
#item_detail #dialog_form {
  margin:0;
}
.light { color:#7f7f7f; }
table.report {
  border-collapse:collapse;
  width:100%;
}
table.report th, table.report td {
  padding:5px;
}
table.report tr th {
  background:#666;
  color:#fff;
}
table.report tr.even td {
  background:rgba(239,239,239,.8);
}
.report span.description {
  font-style:italic;
}
.report td.index {
  background:rgba(139,139,139,1) !important;
  color:#fff;
  font-weight:bold;
  text-align:right;
  width:5%;
}
input.numbers { text-align:right; }
.tdc { text-align:center; }
.tdr { text-align:right; }
.td_5 { width:5%; }
.td_10 { width:10%; }
.td_15 { width:15%; }
.td_20 { position:relative; width:20%; }
.td_25 { width:25%; }
.td_30 { width:30%; }
.td_35 { width:35%; }
.td_40 { width:40%; }
.td_50 { width:50%; }
.td_70 { width:70%; }
.td_10 input, .td_20 input, .td_30 input, .td_40 input, .td_70 input { width:90% !important; }
.firerift-style {   
  background:transparent url(/images/yesno-circle.png) no-repeat scroll 0 0;
  cursor:pointer;
  display:inline-block;
  float:right;
  height:28px;
  margin:-7px -64px 0 0;
  width:68px;
}
.on {
  background-position: 0% 100%;
}
.off {
  background-position: 100% 0%;
}
.hidden {
  display: none;
}
#errorExplanation {
  width: auto;
  border: 2px solid #CC0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  background-color:#CC0000;
  color:#FFFFFF;
  font-size:1.4em;
  font-weight:bold;
  margin:-7px;
  padding:5px 5px 5px 15px;
  text-align:left;
}
#errorExplanation p {
  color:#333333;
  margin:10px 0;
  padding:8px;
}
#errorExplanation ul li {
  font-size: 12px;
  line-height:1.4em;
  list-style-type: square;
  list-style-position:inside;
  padding:0 20px;
}
#dialog_form div {
  margin-bottom:20px;
  overflow:hidden;
}
.transaction_label {
  display:block;
  float:left;
  width:160px;
}
.transaction_label + p {
  margin-left:160px;
  overflow:hidden;
}
td img { vertical-align:middle; }
#hint {
  background:rgb(254, 255, 175);
  margin-bottom:20px;
  -moz-box-shadow:2px 2px 6px rgba(0,0,0,.4);
  -webkit-box-shadow:2px 2px 6px rgba(0,0,0,.4);
}
#hint h2 {
  font-size:1.3em;
  font-weight:bold;
  margin:0;
  padding:10px;
}
#hint p {
  line-height:1.25em;
  margin:0;
  padding:0 10px 10px;
}
.hints {
  background:#feffaf;
  margin:10px 10px 10px 0 !important;
  padding:10px !important;
}
input.plu_code {
  width:80% !important;
}
.plu_input {
  float:right;
}
#searchresult { height:400px; overflow:auto !important; }
.searchresults { width:100%; }
.searchresults th, .searchresults td { padding:5px; }
.searchresults tr th {
  background:#77EF7C;
}
.searchresults tr { background:#EFFFF0; }
.searchresults tr:nth-child(2n+1) {
  background:#E0EFE1;
}
.searchresults td ul { margin:-5px; }
.searchresults td ul li {
  background:#FFE4A8;
}
.searchresults td ul li:hover {
  background:#FFAD0F;
}
.searchresults td ul li a { 
  display:block;
  padding:5px;
}
.searchresults td ul li a:focus { background:#FFAD0F; }
div.no_record {
  font:1.6em bold;
  padding:10px;
  text-align:center;
}
.fifo {
  background:#C9FF8F;
  border-right:solid 1px #5BAF00;
  border-bottom:solid 1px #5BAF00;
  font-weight:normal;
  padding:2px 5px;
}
.lifo {
  background:#9FDDFF;
  border-right:solid 1px #00669F;
  border-bottom:solid 1px #00669F;
  font-weight:normal;
  padding:2px 5px;
}
.avg {
  background:#EF95ED;
  border-right:solid 1px #6F006D;
  border-bottom:solid 1px #6F006D;
  font-weight:normal;
  padding:2px 5px;
}
.transaction_type_tag {
  background:#FAFFCF;
  border-right:solid 1px #ADBF0B;
  border-bottom:solid 1px #ADBF0B;
  font-weight:normal;
  padding:2px 5px;
}
tr.total td { border-top:solid 1px #666; }
.two_columns { margin-bottom:0 !important; }
.two_columns p {
  float:left;
  width:50%;
}
tr.special td { background:#EFE259 !important; }
fieldset.plain {
  border:solid 1px #008F0D;
  padding:10px;
  margin-bottom:10px;
}
fieldset.plain legend {
  padding:2px 5px;
  font-weight:bold;
}
.ui-widget-header { font-size:1em; }
.ui-widget-content {
  -moz-box-shadow:0 0 7px rgba(0,0,0,.8);
  -webkit-box-shadow:0 0 7px rgba(0,0,0,.8);
}
