/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/
form.formtastic input, form.formtastic textarea, form.formtastic select {
  border:solid 1px rgb(159,159,159);
  padding:2px;
}
form.formtastic fieldset ol li.string input { width:30%; }
form.formtastic fieldset ol li.password input { width:30%; }
form.formtastic fieldset ol li.numeric input { width:30%; }
form.formtastic fieldset ol li.text textarea { width:60%; }
form.formtastic fieldset.buttons button { font-family: "Trebuchet MS", Tahoma, Verdana, Helvetica, Arial; }

label span.required {
  color:rgb(200,0,0);
  font-weight:bold;
}
