body {
  background:rgb(207, 255, 209);
  font-family: "Trebuchet MS", Tahoma, Verdana, Helvetica, Arial;
  font-size: 12px;
}
a img { border: none; }
a { text-decoration:none; color: #0000FF; }
h1 {
  margin:0 0 20px;
  font-size:2em;
  font-weight:bold;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
#flash_notice, #flash_error {
  padding: 8px 12px !important;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC !important;
  border: solid 1px #6C6;
}
#flash_error {
  background-color: #FCC !important;
  border: solid 1px #C66;
}
#banner {
  background:rgb(35, 95, 38);
  padding:0 20px;
  overflow:hidden;
}
#user_logo span {
  color:rgb(207, 255, 209);
  display:inline-block;
  font-size:24px;
  font-weight:bold;
  padding:20px 0 20px 0;
}
#main {
  background:rgba(35,95,38,.5);
  margin:40px auto;
  width:400px;
  -moz-box-shadow:0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow:0 0 8px rgba(0, 0, 0, .8);
}
#main > div {
  background:rgba(207,255,209,1);
  border:1px solid #235F26;
  padding:20px;
}
#main > div h1 {
  background:rgb(35,95,38);
  color:rgb(207,255,209);
  margin:-20px -20px 20px;
  padding:14px 20px;
}
form.formtastic fieldset ol li.string input { width:70% !important; }
form.formtastic fieldset ol li.password input { width:70% !important; }
form.formtastic fieldset.buttons button {
  background:rgba(35, 95, 38, 1);
  border:none;
  color:rgb(207,255,209);
  font-weight:bold;
  font-size:1.2em;
  padding:4px 20px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-box-shadow:2px 2px 4px rgba(0, 0, 0, .6);
  -webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, .6);
}
form.formtastic fieldset.buttons button:hover {
  background:rgba(35, 95, 38, .85);
  cursor:pointer;
}
form.formtastic fieldset.buttons button:active {
  background:rgba(35, 95, 38, .85);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
input:focus { border:solid 1px rgb(255, 131, 63) !important; }
