<% semantic_form_for @user do |f| %>
  <% f.inputs do %>
    <%= f.input :username, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  <% end -%>
  <fieldset class="buttons">
    <button type="submit">Sign me up</button>
  </fieldset>
<% end %>
