<li>
  <a href="#">+ Persediaan</a>
  <ul>
    <li><%= link_to "Per group", '#' %></li>
    <li><%= link_to "Per kode barang", '#' %></li>
    <li><%= link_to "Per gudang", '#' %></li>
    <li><%= link_to "Minimum", '#' %></li>
  </ul>
</li>
<li><a href="#" class="">Kartu persediaan</a></li>
<li><a href="#">Buku besar persediaan</a></li>
