<li><%= link_to "Begining Balance", begining_balances_path %></li>
<li><a href="#">Bukti pengeluaran barang</a></li>
<li><a href="#">Pembebanan BPP</a></li>
<li><a href="#">Mutasi gudang</a></li>
<li><a href="#">Stock opname</a></li>
