%ul#sidemenu
  %li= link_to "Begining Balances", begining_balances_path
  %li= link_to "Transaction Types", transaction_types_path
  %li= link_to "Item Transfer", item_transfers_path
  %li= link_to "Item In", item_ins_path
