<% title 'Administrations' %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ "Administrations" ] %>
<% end -%>

<% content_for :sidemenu do %>
  <ul id="sidemenu">
    <li><%= link_to "Categories", categories_path %></li>
  </ul>
<% end -%>
