<% title "Item Ins" %>

<table>
  <tr>
    <th>Number</th>
    <th>Destination Warehouse</th>
  </tr>
  <% for item_in in @item_ins %>
    <tr>
      <td><%=h item_in.number %></td>
      <td><%=h item_in.destination_warehouse %></td>
      <td><%= link_to "Show", item_in %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Item In", new_item_in_path %></p>
