<% title "Item In" %>

<p>
  <strong>Number:</strong>
  <%=h @item_in.number %>
</p>
<p>
  <strong>Destination Warehouse:</strong>
  <%=h @item_in.destination_warehouse %>
</p>

<p>
  <%= link_to "View All", item_ins_path %>
</p>
