<% cache do %>
  <% title "Items" %>
  <% javascript "items" %>

  <% content_for :breadcrumb do %>
    <%= breadcrumb [ link_to("Administrations", administrations_path),
                     link_to("Items", items_path) ] %>
  <% end -%>

  <% content_for :main_act do %>
    <%= link_to "#{image_tag('icons/silk/add.png')} Create new item", new_item_path, :class => "main_link new_item", :title => "Create New Item" %>
  <% end -%>

  <%= sidemenu %>

  <table class="list" id="items">
    <tr>
      <th>Category</th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th class="actions">Actions</th>
    </tr>

    <%= render @items %>

  </table>
  <div id="item_detail">
    <p>Click on one of the item code to see it's detail</p>
  </div>
<% end -%>
