<% title "Item" %>

<p>
  <strong>Category:</strong>
  <%=h @item.category.name %>
</p>
<p>
  <strong>Code:</strong>
  <%=h @item.code %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @item.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @item.description %>
</p>
