<% semantic_form_for @category do |f| %>
  <ul class="form_info">
    <li>Fields marked <span class="required">*</span> are required</li>
  </ul>
  <% f.inputs do %>
    <%= f.input :name, :input_html => { :class => 'default' } %>
    <%= f.input :description, :input_html => { :rows => 5 } %>
  <% end -%>
  <fieldset class="buttons">
    <button type="submit">
      <%= image_tag 'icons/silk/disk.png' %> Save Category
    </button>
  </fieldset>
<% end %>
