<% title "Create New Category" %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to("Administrations", administrations_path),
                   link_to("Categories",categories_path),
                   'Create New Category' ] %>
<% end -%>

<% content_for :sidemenu do %>
  <ul id="sidemenu">
    <li><%= link_to "Categories", categories_path %></li>
  </ul>
<% end -%>


<%= render :partial => 'form' %>
