- cache do
  - title "New Item In"

  - content_for :breadcrumb do
    = breadcrumb [ link_to('Transaction', transactions_path), |
      link_to('Items Out', item_outs_path), |
      'Create new Item Out transaction' ] |

  = sidemenu @tab

  = render :partial => 'form'
